
.login-container {
    max-width: 900px;
    width: 100%;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.login-form {
    padding: 30px;
}
.login-form h2 {
    font-weight: bold;
    color: #333;
}
.login-form .form-control {
    margin-bottom: 15px;
    
}
.login-form .btn-primary {
    
    background-color: #fe424d;
    border: none;
}
.login-gif {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-gif img {
    max-width: 100%;
    height: auto;
}