<%- layout("./bolierPlate/boilerplate.ejs") -%>
<body>
    <div class="row mat-3">
        <h1 class="col-8 mb-4" style="text-align: center;" >Create New Password</h1>
        <div class="col-md-6 col-10 offset-md-0">
            <form action="/forget-password/reset-confirm" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="code">Enter New Password</label>
                    <input name="pas" type="password" class="form-control w-100 mb-3" placeholder="enter password" required></input>
                    <label for="code">Confirm New Password</label>
                    <input name="re_pas" type="password" class="form-control w-100 mb-3" placeholder="Re-enter password" required></input>
                    <div class="invalid-feedback">Password is incorrect</div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary" style="margin-top:15px; background-color: #fe424d; border:none">Confirm Password</button>
                </div>
            </form>
        </div>
    </div>
    <script src="/js/validator_logic.js"></script>
</body>
</html>